$title_gray:#1b1b1b;
$font_color:#ffffff;
$font_family:'Nunito',
sans-serif;
$background_color:black;
$contents_gray:#101010;
$tablet-size:1024px;
@mixin tablet($tablet-size) {
    @media screen and (max-width: $tablet-size) {
        @content;
    }
}

html {
    width: 100%;
    font-size: 62.5%;
    font-family: $font_family;
    background-color: $background_color;
    color: $font_color;
}

a {
    text-decoration: none;
    color: $font_color;
    &:hover {
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
    }
}

header {
    height: 80px;
    width: 100%;
    background-color: $title_gray;
    .header-container {
        width: 1024px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        @include tablet($tablet-size) {
            width: 100%;
        }
        .header-container-logo {
            display: flex;
            align-items: center;
            @include tablet($tablet-size) {
                width: 30%;
            }
            img {
                width: 300px;
                @include tablet($tablet-size) {
                    width: 100%;
                }
            }
        }
        .header-container-searchform {
            width: 380px;
            margin-top: 10px;
            margin-left: 20px;
            position: relative;
            input[type="text"] {
                width: 380px;
                height: 50px;
                right: 0;
                border: none;
                border-radius: 10px;
                position: absolute;
                font-size: 2.0rem;
                @include tablet($tablet-size) {
                    width: 100%;
                    font-size: 1.4rem;
                }
            }
            button[type="submit"] {
                height: 30px;
                width: 30px;
                margin-top: 10px;
                right: 10px;
                position: absolute;
                background-image: url("searchbtn.svg");
                background-color: #fff;
                border: none;
                background-size: cover;
                @include tablet($tablet-size) {
                    width: 8%;
                    font-size: 1.4rem;
                }
            }
        }
        .header-container-create,
        .header-container-login {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 140px;
            height: 80px;
            border-left: 1px solid #5a5a5a;
            text-decoration: none;
            color: $font_color;
            text-align: center;
            font-size: 2.0rem;
            @include tablet($tablet-size) {
                width: 10%;
                font-size: 1.4rem;
            }
        }
        .header-container-create {
            margin-left: 25px;
        }
        .header-container-login {
            border-right: 1px solid #5a5a5a;
        }
    }
}

footer {
    height: 80px;
    width: 100%;
    background-color: $title_gray;
}

.container {
    width: 75%;
    margin: 30px auto 0 auto;
    overflow: auto;
    @include tablet($tablet-size) {
        width: 100%;
    } //topページのCSS
    .container-senctions {
        float: right;
        width: 80%;
        .container-sections-one {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            h1 {
                font-size: 3.0rem;
                height: 50px;
                line-height: 50px;
                width: 100%;
                margin: 0;
                text-align: center;
                background-color: $title_gray;
            }
            .container-sections-one-movie {
                width: 200px;
                height: auto;
                margin: 10px 0 10px 0;
                position: relative;
                overflow: hidden;
                background-color: $contents_gray;
                @include tablet($tablet-size) {
                    width: 32%;
                }
                img {
                    height: 150px;
                }
                div {
                    height: auto;
                    width: 100%;
                }
                h2 {
                    width: 100%;
                    padding: 5px 0;
                    margin: 5px 0;
                    font-size: 1.5rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    /* Opera9,10対応 */
                }
                .container-sections-one-movie-category {
                    display: flex;
                    flex-wrap: wrap;
                    border-top: 1px solid #5b5b5b;
                    border-bottom: 1px solid #5b5b5b;
                    span {
                        margin: 5px;
                        padding: 5px;
                        background: #303030;
                        color: #afafaf;
                        border-radius: 20px;
                    }
                }
                .container-sections-one-movie-infomation {
                    padding: 10px 0;
                    margin: 0 5px;
                }
            }
        }
    }
    .container-side {
        float: left;
        width: 18%;
        margin-right: 2%;
        background-color: $contents_gray;
        .contaier-side-category {
            width: 100%;
            &>h1 {
                font-size: 2.5rem;
                margin: 0;
                padding: 5px;
                background-color: $title_gray;
                @include tablet($tablet-size) {
                    font-size: 1.7rem;
                }
            }
            ul {
                width: 100%;
                list-style: none;
                padding: 0;
                margin-top: 0;
                li {
                    width: 100%;
                    padding: 10px 0;
                    font-size: 2.5rem;
                    border-bottom: 1px solid #5b5b5b;
                    @include tablet($tablet-size) {
                        font-size: 1.7rem;
                    }
                    i {
                        margin: 0 5px;
                    }
                }
            }
        }
        .contaier-side-adsence {
            width: 100%;
            height: 400px;
            margin-top: 30px;
            background-color: gray;
        }
    } //利用規約のcss
    .container-scrolltitle {
        margin: 0 auto 20px auto;
        font-size: 3.0rem;
        width: 100%;
        padding: 10px;
        background-color: $title_gray;
    }
    .container-scrollbox {
        width: 90%;
        margin: 0 auto 0 auto;
        height: 500px;
        overflow: scroll;
        background-color: $title_gray;

        p{
            font-size:1.5rem;
        }
    }
}

.adsence {
    width: 880px;
    height: 200px;
    margin: 50px auto;
    background-color: gray;
    @include tablet($tablet-size) {
        width: 100%;
    }
}